#episodes {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 1.5rem;
  text-align: center;
  
}

#root{
  background-color: #f2f2f2;
  padding: 10px;

}

.search-functions{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  background-color: gray;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  padding-bottom: 20px;
}

.card{
  margin: 10px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 15px;
  box-shadow: 0 5px 15px 5px rgb(0 0 0 / 0.4);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card img{
  width:100%;
  border-radius: 15px 15px 0 0;
  margin-top: -2px;
  margin-bottom: -10px;
  object-fit: cover;
}

.card p{
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -5px;
}




.select{
  width:200px;
}


